@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* White Background */
  --foreground: #000000; /* Black Text */
}

body {
  background: var(--background);
  color: var(--foreground);
}
